.testText{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 140%;
    text-align: center;
    word-break: break-all;
}